/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.app-container {
  position: fixed;
  top: 7vh;
  height: 93vh;
  width: 100vw;
  overflow: scroll;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100%;
  background-color: grey;
}

.nav-profile {
  height: 100%;
}

.nav-profile-message {
  margin-top: 1vh;
  font-size: 2vh;
  color: white;
}

.button-logout {
  outline: none;
  margin-top: .5vh;
  padding: .25vh 1vh;
  float: right;
  font-size: 2vh;
  color: white;
  background-color: #552DB9;
  border-radius: 1vh;
  border: 1px solid black;
}

.button-logout:hover {
  background-color: darkorange;
}

.home {
  margin: 0 auto;
  width: 100vmin;
  height: 93vh;
}

.blood-pressure-input {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
}

.blood-pressure-input-container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 100vmin;
}

.blood-pressure-input-header {
  margin: 3% 0;
  text-align: center;
  font-size: 3.5vmin;

}

.blood-pressure-text-border {
  display: flex;
  align-items: center;
  border: 2px solid grey;
  border-radius: 7px;
  margin: 0 auto;
  height: 10vmin;
}


.systolic-input {
  outline: none;
  border: none;
  text-align: right;
  font-size: 8vmin;
  width: 16vmin;
}

.tight-slash {
  color: grey;
  font-size: 8vmin;
}

.diastolic-input {
  outline: none;
  border: none;
  font-size: 8vmin;
  width: 14vmin;
}

.button-submit {
  outline: none;
  width: 35vmin;
  margin: 2vmin auto 0 auto;
  border-radius: 2vmin;
  border: .5vmin solid black;
  padding: .5vmin 5vmin;
  color: white;
  background-color: #552DB9;
  font-size: 4.5vmin;
}

.button-submit:hover {
  background-color: darkorange;
}

.submit-warning {
  color: red;
  margin: .5vmin;
  font-size: 2.5vmin;
  text-align: center;
}

.horizontal-divide {
  margin: 1% auto;
  width: 95%;
  height: .5%;
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
}

.blood-pressure-history {
  width: 100%;
  height: 62%;
  border: 1px solid blue;
}

.graph-header {
  height: 7%;
  width: 100%;
  background-color: darkorange;
}

.graph-container {
  height: 93%;
  background-color: purple;
}

.graph {

}

.login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vmin;
}

.login-header {
  height: 9vmin;
  font-size: 7vmin;
  color: #552DB9;
  margin-bottom: 3vmin;
}

.button-login {
  outline: none;
  border-radius: 2vmin;
  border: .3vmin solid black;
  padding: .5vmin 5vmin;
  color: white;
  background-color: #552DB9;
  font-size: 4.5vmin;
}

.button-login:hover {
  background-color: darkorange;
}

.not-found {

}